[Desktop Entry]
Version=1.0
Name=CHTC Core
Comment=CHTC P2P Cryptocurrency
Comment[fr]=CHTC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CHTC, eşten eşe kriptografik sanal para birimi
Exec=chtc-qt %u
Terminal=false
Type=Application
Icon=chtc128
MimeType=x-scheme-handler/chtc;
Categories=Office;Finance;
StartupWMClass=Chtc-qt
